pip install --upgrade pip

pip install numpy pandas scipy matplotlib seaborn jupyter

conda activate main-ds
pip install streamlit babel


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from babel.numbers import format_currency
sns.set(style='dark')